* {
    box-sizing: border-box;
    text-align: center;
    
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-container {
    display: inline-block;
    font-size: 2rem;
    color: black;
    font-weight: bold;
}

.header-h2 {
    font-weight: bold;
    font-size: 3rem;
    color: purple;
    display: inline-block;
}

.countdown {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    display: inline-block;
}
.intro-instructions {
    font-size: 1.5rem;
    color: purple;
}
.start-button {
    outline: none;
    border: none;
    background-color: blue;
    color: cornsilk;
    border-radius: 12px;
    font-size: 5vw;
}
.question-rotation-wrapper {
    font-size: 3rem;
    color: purple;
    
}
.answer-style {
    display: inline-block;
    padding: 7px 15px;
    font-size: 1.5rem;
    color: white;
    width: 70%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 15px;
    background-color: purple;
}
.answer-box {
    border: purple solid .1rem;
    flex: wrap;
}
.answer-box-text {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    color: purple;
}
.answer-block-top {
    font-size: 3rem;
    color: purple;
}
.new-clear-button {
    outline: none;
    border: none;
    background-color: blue;
    color: cornsilk;
    border-radius: 12px;
    font-size: 5vw;
    margin: auto 2rem;
}
